<div class="contact-page">
    <div class="form-section">
        <div class="contact-info bg-dull">
            <div class="contact-details">
                <div class="contact-group">
                    <i class="contact-icon"></i>
                    <p>Department of Computer Technology,<br>
                        Madras Institute of Technology,<br>
                        MIT Road, Radha Nagar,<br>
                        Chromepet, Chennai 44,<br>
                        Tamil Nadu,
                        India.</p>
                </div>
                <div class="contact-group">
                    <i class="contact-icon phone"></i>
                    <p>044 3454 3453</p>
                </div>
                <div class="contact-group">
                    <i class="contact-icon mail"></i>
                    <p>ctmitindia@gmail.com</p>
                </div>
            </div>
            </div>
        <div class="form">
            <h1>Contact us</h1>
            <form>
                <div class="input-group">
                    <input type="text" placeholder="Name">
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Email">
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="input-group">
                    <textarea placeholder="Message"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="map-section">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.371743017595!2d80.13755331462842!3d12.948047990871276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525fac595c29ff%3A0xb76082ae18b51418!2sMadras%20Institute%20of%20Technology%2C%20Anna%20University!5e0!3m2!1sen!2sin!4v1605076225196!5m2!1sen!2sin"
            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
</div>