<div class="project">
    <div class="project-cover">
        <div class="cover-wrap">
            <div class="cover-content">
                <h1><span style="font-size: 0.65em;">Ongoing</span><br> Research Projects </h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta vero, molestiae corrupti dolorem porro minus, neque ipsum voluptate illo fuga architecto facere sit veritatis eveniet earum, tempore culpa! Numquam, ipsum iusto quia perferendis eum voluptatum. Illo, maxime quidem! Beatae, suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ducimus expedita molestiae placeat voluptatem a.</p>
            </div>
            <div class="cover-graph">
                <highcharts-chart [Highcharts]="Highcharts" [options]="graphConfig" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
            </div>
        </div>
    </div>
    <div class="project-page">
        <h1>Projects</h1>
    </div>
    <div class="project-content">
        <div class="project-wrap">
            <div class="year-projects">
                <div class="pjct" *ngFor="let project of projects">
                    <h3 class="year-title">
                        <span class="cont">{{ project.Title }}</span>
                        <span class="proj-year">{{ project.Year }}</span>
                    </h3>
                    <div class="fund-wrap">
                        <div class="fund-content">
                            <div class="proj-coord">
                                <p class="label-name">Co-ordinators</p>
                                <div class="label-value">{{ getCoordinators(project) }}</div>
                            </div>
                            <div class="fund-agency">
                                <p class="label-name">Funding Agency</p>
                                <div class="label-value">{{ project.Fund_Agency }}</div>
                            </div>
                        </div>
                        <div class="fund-amt">
                            <span class="amount">{{ getAmount(project.TotalSanctionedAmount) }}</span>
                            <span>Lakhs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>