<div class="container">
    <div class="main">
        <div class="regulation">
            <div class="regu-list">
                <h2>PhD Computer Science and Engineering</h2>
                <p><span>{{ currentRegulation.title }} - </span>{{ currentRegulation.description }}</p>
                <div class="regu-items">
                    <span class="r-item"
                        *ngFor="let regu of regulations"
                        [class.r-item-active]="regu.regu_type == currentRegulation.regu_type"
                        (click)="updateRegulation(regu)">
                        {{ regu.title }}
                    </span>
                </div>
                <div class="regu-items-mobile">
                    <a class="r-item" 
                        *ngFor="let regu of regulations" 
                        [href]="regu.link | safeUrl"
                        (click)="updateRegulation(regu)" 
                        [download]="regu.regu_type">
                        {{ regu.title }}
                    </a>
                </div>
            </div>
            <div class="regu-pdf">
                <object [data]="currentRegulation.link | safeUrl" type="application/pdf"></object>
            </div>
        </div>
        <div class="supervisors">
            <h2>List of Supervisors</h2>
            <div class="supervisor-list">
                <a   class="supervisor" 
                    *ngFor="let sup of supervisors"
                    [href]="sup.link">
                    <img [src]="sup.image">
                    <div class="sup-details">
                        <b>{{ sup.name }}</b>
                        <span class="sup-post">{{ sup.designation }}</span>
                        <span class="sup-mail">{{ sup.mail }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>