<div class="container">
  <div class="main">
      <h2>Course Materials</h2>
      <div class="quick-links" *ngIf="courseTitle != null && session!=null">
        <a routerLink="/student-details/academics" class="link">Academics</a>
          <span class="slash"></span>
          <a [routerLink]="['/student-details', 'academics', 'course-list', session.Reference_ID]" class="link">{{session.Description}}</a>
          <span class="slash"></span>
          <a [routerLink]="['/student-details', 'academics', 'course-features', cregst_id]" class="link" >{{courseTitle}}</a>
          <span class="slash"></span>
          <a class="link">Course Materials</a>
      </div>
      <div class="time-period">
          <div class="outer">
            <div class="layout">
                <div class="time" (click)="openPDF()">
                    <span class="syllabus"></span>
                    <div class="period">
                        <span class="material">Syllabus</span>
                        <span class="session"></span>
                    </div>
                </div>
            </div>
            <div class="aside">
                <div *ngIf="syllabus" class="syllabus-pdf">
                  <a [href]="filePath" target="_blank">  
                    <pdf-viewer [src]="filePath" [original-size]="false" [autoresize]="true"></pdf-viewer>
                  </a>
                </div>
            </div>
          </div>
      </div>
</div>
