<div class="container">
    <!--<div class="main" *ngIf="person!=null">-->
        <div class="main">
        <div class="personal-section" *ngIf="family!=null">
            <h3 class="section-title">
                <span>Family Details</span>
                <span class="edit-icon" (click)="onOpenModel()">Edit</span>
            </h3>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Name</span>
                    <p>{{family.Father_Name}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Name</span>
                    <p>{{family.Mother_Name}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Guardian Name</span>
                    <p>{{family.Local_Guardian_Name}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Contact Number</span>
                    <p>{{family.Father_ContactNumber}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Contact Number</span>
                    <p>{{family.Mother_ContactNumber}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Guardian Contact Number</span>
                    <p>{{family.Local_Guardian_Contact_Number}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Email</span>
                    <p>{{family.Father_MailID}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Email</span>
                    <p>{{family.Mother_MailID}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Local Guardian Address</span>
                    <p>{{family.Local_Guardian_Address}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Occupation</span>
                    <p>{{family.Father_Occupation}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Occupation</span>
                    <p>{{family.Mother_Occupation}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Parents Annual Income</span>
                    <p>{{family.Parents_Annual_Income}}</p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Affilation</span>
                    <p>{{family.Father_Affilation}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Affilation</span>
                    <p>{{family.Mother_Affilation}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label"></span>
                    <p></p>
                </div>
            </div>
            <div class="input-field">
                <div class="text-wrap">
                    <span class="label">Father Company Name</span>
                    <p>{{family.Father_Company}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label">Mother Company Name</span>
                    <p>{{family.Mother_Company}}</p>
                </div>
                <div class="text-wrap">
                    <span class="label"></span>
                    <p></p>
                </div>
            </div>
        </div>
        <br>
    </div>
  </div>
  
  
  
  
  
  
  