<div class="notfound">  
    <p>ERROR: <span>404</span></p><br>
    <code class="notfound-code"><span>this_page</span>.<em>not_found</em> = true;</code><br>
    <code class="notfound-code"><span>if</span> (<b>you_spelt_it_wrong</b>) {{ '{' }} <span>try_again()</span>; {{ '}' }} </code><br>
    <code class="notfound-code"><span>else if (<b>we_screwed_up</b>)</span> {{ '{' }} <br><br><em>alert</em>(<i>"We're really sorry about that."</i>); {{ '}' }}</code><br>
    <a routerLink="">Go back to Homepage</a>
</div>