<footer class="footer-distributed">
    <div class="footer-div">
        <div class="footer-div-box footer-left">
            <h3>About us<br /></h3>
            <p class="footer-links">
                <a routerLink="./">Home</a>
                <a routerLink="./vision-mission">Vission and Mission</a>
                <a routerLink="./events">Events</a>
                <a routerLink="./infrastructure">Infrastructure</a>
                <a routerLink="./contact">Contact</a>
            </p>
        </div>
        <div class="footer-div-box footer-box">
            <h3>Research</h3>
            <p class="footer-links">
                <a routerLink="./research/supervisors">List of Superisors</a>
                <a routerLink="./research/thesis">Thesis</a>
                <a routerLink="./research/publications">Publications</a>
                <a routerLink="./research/projects">Projects</a>
            </p>
        </div>
        <div class="footer-div-box footer-box">
            <h3>Activities</h3>
            <p class="footer-links">
                <a routerLink="./activities/placements">Placements</a>
                <a routerLink="./activities/alumni">Alumini</a>
                <a routerLink="./">Industry Corner</a>
                <a routerLink="./activities/association">Association</a>
            </p>
        </div>
        <div class="footer-div-box footer-box">
            <h3>Academics</h3>
            <p class="footer-links">
                <a routerLink="./academics/ug">Under Graduate</a>
                <a routerLink="./academics/pg">Post Graduate</a>
                <a routerLink="./academics/phd">PhD</a>
                <a href="https://cac.annauniv.edu">CAC</a>
            </p>
        </div>
        <div class="footer-div-box footer-box">
            <h3>People</h3>
            <div class="footer-links">
                <div class="footer-anchor-wrap">
                    <a routerLink="./people/student/be">B.E</a>
                    <div class="footer-divider">|</div>
                    <a routerLink="./people/student/me">M.E</a>
                </div>
                <a routerLink="./people/staffs">Faculty</a>
                <a routerLink="./people/scholar">Research Scholars</a>
                <a href="https://cfr.annauniv.edu">CFR</a>
            </div>
        </div>
        <div class="footer-div-box footer-right">
            <div>
                <i class="footer-address-icon"></i>
                <p><span> MIT Road, Radha Nagar</span>Chromepet, Chennai</p>
            </div>
            <div>
                <i class="footer-address-icon footer-phone"></i>
                <p>044 3454 3453</p>
            </div>
            <div>
                <i class="footer-address-icon footer-mail"></i>
                <p>ctmitindia@gmail.com</p>
            </div>
            <div class="footer-icons">
                <a href="#"><i class="footer-social-icon f-facebook"></i></a>
                <a href="#"><i class="footer-social-icon f-instagram"></i></a>
                <a href="#"><i class="footer-social-icon f-youtube"></i></a>
                <a href="#"><i class="footer-social-icon f-twitter"></i></a>
            </div>
        </div>
    </div>
    <p class="footer-team-name">
        Copyright &copy; Computer Technology | Designed by MIT Web Team
    </p>
</footer>
