.section-title {
    margin-bottom: 1.5rem;
    font-size: 1.35em;
    color: #444444;
}
section {
    padding: 2em;
}
.side-nav-logo{
    width: 8em;
    height: 8em;
    object-fit: contain;
    object-position: center;
}
.staff-profile-container {
    display: flex;
    flex-direction: row;
}

.main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.75em 2em;
    position: sticky;
    width: 100%;
    top: 0;
    left: auto;
    box-shadow: 0 1px 10px 0 gainsboro;
}
header h2{
    width: 100%;
    font-size: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-link{
    font-size: 0.85em;
    color: #0f1e77;
    display: flex;
    align-items: center;
}
.home-link .li-icon{
    width: 1em;
    height: 1em;
    background-size: 1em;
    background-image: url("../../../../assets/svg/home.svg");
}
.home-link:hover{
    text-decoration: underline;
}
.profile-head{
    display: flex;
    flex-direction: column;
}
.profile-sub{
    margin-top: 0.25em;
    font-size: 0.6em;
    font-weight: normal;
}
.main-area .staff-header {
    background-color: white;
    padding: 2em;
    display: flex;
    border-radius: 0.5em;
    border: 1px solid gainsboro;
}

.main-area .staff-header .text {
    line-height: 1.2;
    margin-left: 2rem;
}

.main-area .staff-header .text h2 {
    margin-bottom: 0.5rem;
}

.main-area .staff-header .profile-image {
    overflow: hidden;
    border-right: 1px solid #eee;
}

.profile-image img {
    width: 10em;
    height: auto;
    border-radius: 1em;
    object-fit: cover;
    margin-right: 2rem;
}
.staff-cont-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}
.staff-cont-wrap a{
    color: black;
}
.staff-cont-wrap a:hover{
    text-decoration: underline;
}
.s-icon{
    width: 1em;
    height: 1em;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-image: url("../../../../assets/svg/phone.svg");
    margin-right: 1em;
}
.mail{
    background-image: url("../../../../assets/svg/message.svg");
}
.linkedin{
    background-image: url("../../../../assets/svg/linkedin.svg");
}
.document{
    background-image: url("../../../../assets/svg/document.svg");
}
.staff-details-wrap{
    display: flex;
    margin-top: 1em;
}
.staff-interest{
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid gainsboro;
}
.staff-interest h3{
    color: gray;
    font-size: 1.1em;
}
.staff-interest ul{
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 1em;
    row-gap: 0.5em;
}
.staff-interest li{
    display: flex;
    align-items: center;
}
.li-icon{
    width: 0.5em;
    height: 0.5em;
    background-image: url("../../../../assets/svg/right.svg");
    background-size: 0.5em;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-right: 0.5em;
}
.main-area .staff-header .text h4 {
    font-size: 1.05em;
    margin-bottom: 0.15em;
    color: #295faf;
}

.main-area .staff-header .text p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 0.2em;
}

.staff-general {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.5rem 4rem;
    border: 1px #ddd solid;
    border-radius: 5px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.staff-general .info {
    text-align: center;
}

.staff-general .info h4 {
    margin-bottom: 0.5rem;
    color: #011F4B;
}

.staff-general .info p, .staff-general .info p a {
    color: #000;
}

.text-icon-pink {
    background-color: rgb(250, 195, 195);
}

.text-icon-green {
    background-color: rgb(195, 250, 207);
}

.text-icon-blue {
    background-color: rgb(195, 225, 250);
}

.staff-qulf .text-icon {
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.75em;
    border-radius: 0.5em;
}

.staff-qulf-wrapper{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid gainsboro;
}

.staff-qulf {
    background: #fff;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.staff-qulf .text h3 {
    font-size: 1.1em;
    margin-bottom: 0.25em;
}

.staff-qulf .text h4 {
    color: #3663a7;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 2px;
}

.staff-qulf .text p {
    color: #555;
}

.staff-exp{
    background: #fff;
    padding: 1.5rem 2rem;
    border: 1px solid gainsboro;
}

.staff-exp .exp{
    display: flex;
    margin: 1em 0;
    border-radius: 3px;
    overflow: hidden;
}

.staff-exp .exp .period{
    font-size: 0.95em;
    padding: 0.75rem;
    color: #5e5e5e;
    font-weight: bold;
    width: 9em;
    text-align: right;
}

.staff-exp .exp .status{
    flex: 1;
    padding: 0.75rem 1em;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}
.staff-exp .exp .status h4{
    font-size: 1.1em;
    margin-bottom: 0.25em;
}
.staff-exp .exp .status span{
    color: #444444;
    font-size: 0.85em;
    line-height: 1.5em;
}
.pub,.award{
    background: #fff;
    padding: 1.25em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pub .tags,
.award .tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}
.pub .tags{
    margin: 0.75em 0;
}

.pub .tags p,.award .tags p{
    padding: 0.25em 0.35em;
    margin-right: 0.75rem;
    border-radius: 2px;
    background-color: #f0f0f0;
    font-size: 0.9rem;
}
.pub .tags p{
    padding: 0.3em 0.5em;
    background-color: #f5f9ff;
    border: 1px solid #edf4ff;
}
.pub-link,
.award h3,
.activity h3{
    color: black;
    font-size: 1.1em;
    margin-bottom: 0.25rem;
}
.pub-link{
    display: block;
    font-weight: bold;
}
.pub-link:hover{
    text-decoration: underline;
}

.pub h4,.award h4{
    color: #113e79;
    font-size: 1.01em;
}

.pub .details{
    color: #383838;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.75em;
    margin-top: 0.25em;
}

.pub .details p{
    margin-right: 0.65rem;
}

.staff-pub,
.staff-award,
.staff-activity{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.staff-award,
.staff-activity{
    grid-template-columns: 1fr 1fr 1fr;
}

.award h3{
    margin-bottom: 0.45rem;
}
.staff-projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
}
.project{
    background-color: white;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
}
.proj-title{
    font-size: 1.1em;
}
.proj-type{
    font-size: 0.95em;
    color: gray;
    font-weight: normal;
}
.proj-fund, 
.proj-coor{
    margin-top: 0.75em;
    display: flex;
    flex-direction: column;
}
.proj-sub{
    margin-bottom: 0.35em;
    font-size: 0.85em;
    font-weight: bold;
    color: #1369b9;
}
.section-sub-title{
    margin-bottom: 1em;
    color: #2b5285;
    display: flex;
    align-items: center;
    margin-left: 0.25em;
}
.section-sub-title::before{
    content: '';
    width: 0.75em;
    height: 0.75em;
    background-image: url("../../../../assets/svg/right.svg");
    background-size: 0.6em;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-right: 0.35em;
    opacity: 0.75;
}
.staff-activity{
    margin-bottom: 1.25em;
}
.activity{
    background-color: white;
    border: 1px solid gainsboro;
    padding: 1.25em;
}
.activity h3{
    font-size: 1.05em;
}
.act-details b{
    color: #256fb4;
}
.act-details{
    font-size: 0.9em;
    margin-top: 0.75em;
    color: #5a5a5a;
}
.act-divi{
    display: inline-block;
    margin: 0 0.35em;
}
.side-nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 350px;
    background-color: #011F4B;
    padding: 3em 0;
    text-align: center;
    border-right: 1px solid gainsboro;
}

.side-nav h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 0.25rem;
}

.side-nav h3 {
    text-align: center;
    color: #cad2e4;
    margin-top: 1em;
    font-size: 1.1em;
}
.side-nav h5{
    margin-top: 0.5em;
    margin-bottom: 2em;
    color: #6d7f9b;
    letter-spacing: 1px;
}
.side-nav h2{
    padding-top: 1em;
    border-top: 1px solid #c4c4c4;
}
.side-nav ul{
    margin-top: 1em;
}
.side-nav ul li a {
    color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    background: transparent;
    font-size: 1.1em;
    transition: all 0.1s ease-in-out;
}

.side-nav ul li a:hover {
    background-color: #1369b9;
}
.staff-sub-icon{
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25em;
    display: block;
    filter: invert(1);
    margin-right: 1em;
}
.user{
    background-size: 1.1em;
    background-image: url("../../../../assets/svg/user-staff.svg");
}
.educ{
    background-image: url("../../../../assets/svg/student-cap.svg");
}
.expe{
    background-image: url("../../../../assets/svg/briefcase.svg");
}
.publ{
    background-image: url("../../../../assets/svg/book-pub.svg");
}
.awar{
    background-image: url("../../../../assets/svg/ribbon.svg");
}
.acti{
    background-image: url("../../../../assets/svg/result.svg");
}
.proj-icon{
    background-image: url("../../../../assets/svg/project-side.svg");
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: gainsboro;
    font-size: 0.8em;
}
@media only screen and (max-width:1550px){
    .side-nav{
        width: 300px;
        font-size: 0.975em;
    }
    .side-nav h3{
        padding: 0 0.5em;
    }
    .staff-details-wrap{
        flex-direction: column;
    }
    .staff-interest{
        padding: 0;
        margin: 1.5em 0 0 0;
        border: none;
    }
}
@media only screen and (max-width:1440px){
    .staff-projects{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:1300px){
    .staff-award,
    .staff-activity{
        grid-template-columns: 1fr 1fr;
    }
    .staff-pub,
    .staff-projects{
        grid-template-columns: 1fr;
    }
    .staff-interest ul{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width:1050px){
    .staff-award{
        grid-template-columns: 1fr;
    }
    .side-nav{
        display: none;
    }
}
@media only screen and (max-width:700px){
    .staff-activity{
        grid-template-columns: 1fr;
    }
    .staff-exp .exp{
        flex-direction: column;
        margin: 0 0 1em 0;
    }
    .staff-exp .exp .period{
        text-align: left;
    }
}
@media only screen and (max-width:600px){
    .staff-header{
        flex-direction: column;
    }
    .main-area .staff-header .profile-image{
        border-right: none;
        align-self: center;
        margin-bottom: 1em;
    }
    .profile-image img{
        margin-right: 0;
    }
    .main-area .staff-header .text{
        margin: 0.5em 0 0 0;
    }
    .text-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
        border-bottom: 1px solid gainsboro;
    }
    .staff-details-wrap{
        margin-top: 0.25em;
    }
}
@media only screen and (max-width:550px){
    section{
        padding: 1em;
    }
    header{
        padding: 0.75em 1em;
    }
    .main-area .staff-header{
        padding: 1.5em;
    }
    .staff-qulf .text-icon{
        display: none;
    }
    .staff-qulf,
    .staff-exp{
        padding: 1em;
    }
}
@media only screen and (max-width:450px){
    .pub .details{
        display: none;
    }
    .perso-title{
        display: none;
    }
    .pub .tags{
        margin-bottom: 0.25em;
    }
}