.faculty img{
    width: 8em;
    height: 8em;
}
@media only screen and (max-width:400px){
    .f-mail::before,
    .f-cont::before{
        display: none;
    }
    .f-mail,
    .f-cont{
        align-self: center;
        margin-top: 0.5em;
    }
}