<div class="container">
    <div class="content">
        <div class="vm-wrap">
            <div class="vision">
                <div>
                    <h2>Vision</h2>
                    <p>To be premier in producing excellent computer professionals through comprehensive educational programmes, promoting students with managerial skills to become competitive entrepreneurs, carrying out research in collaboration with industries and adaptive to ever–changing technologies.</p>
                </div>
                <img class="vm-image" src="assets/img/deptold.jpg">
            </div>
            <span class="horiz-break"></span>
            <div class="mission">
                <div>
                    <h2>Mission</h2>
                    <div> 
                        <p>The department of Computer Technology strives to contribute to the expansion of knowledge in the discipline of Computer Science and Engineering by,</p>
                        <ul>
                            <li>
                                <span class="marker"></span>
                                <span class="li-text">Provide motivated faculty and state of the art facilities for education and research, both in foundational aspects and emerging computing trends.</span>
                            </li>
                            <li>
                                <span class="marker"></span>
                                <span class="li-text">Develop knowledgeable, industry-ready students with pertinent competencies such as problem solving, leadership, and interpersonal skills.</span>
                            </li>
                            <li>
                                <span class="marker"></span>
                                <span class="li-text">Inculcate responsibility through sharing of knowledge and innovative computing solutions that benefit the society-at-large.</span>
                            </li>
                            <li>
                                <span class="marker"></span>
                                <span class="li-text">Engage in collaborative research with academia and industry for seamless transfer of knowledge resulting in patents, products and commercialization.</span>
                            </li>
                            <li>
                                <span class="marker"></span>
                                <span class="li-text">Generate adequate resources for research activities from sponsored projects and consultancy.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <img class="vm-image" src="assets/img/pla-back.jpg">
            </div>
            <span class="horiz-break"></span>
            <div class="vision">
                <div>
                    <h2>Programme Outcomes</h2>
                    <div>
                        <ul>
                            <li>
                                <b>PO1 : </b>
                                <span class="li-text">Apply mathematical foundations, algorithmic principles, and Computer Science theory in the modelling and design of computer based systems of varying complexity.</span>
                            </li>
                            <li>
                                <b>PO2 : </b>
                                <span class="li-text">Critically analyze a problem, identify, formulate and solve problems in the field of Computer Science and Engineering, considering current and future trends.</span>
                            </li>
                            <li>
                                <b>PO3 : </b> 
                                <span class="li-text">Design a system, component, or process to meet desired needs within realistic constraints such as economic, environmental, social, ethical, health and safety, and sustainability in the field of computer engineering.</span>
                            </li>
                            <li>
                                <b>PO4 : </b>
                                <span class="li-text">Perform experiments and organize, analyze, and interpret data.</span>
                            </li>
                            <li>
                                <b>PO5 : </b>
                                <span class="li-text">Use current techniques, skills, and tools necessary for computing practice.</span>
                            </li>
                            <li>
                                <b>PO6 : </b>
                                <span class="li-text">Apply knowledge and reasoning to assess issues related to social, ethical, legal, economical, health and safety and apply them to professional engineering practice.</span>
                            </li>
                            <li>
                                <b>PO7 : </b>
                                <span class="li-text">Analyze the local and global impact of computing on individuals, organizations, and society and look at sustained development.</span>
                            </li>
                            <li>
                                <b>PO8 : </b>
                                <span class="li-text">Apply ethical principles and commit to professional ethics and responsibilities and norms of engineering practice.</span>
                            </li>
                            <li>
                                <b>PO9 : </b>
                                <span class="li-text">Function effectively on teams to accomplish a common goal.</span>
                            </li>
                            <li>
                                <b>PO10 : </b>
                                <span class="li-text">Communicate effectively with a range of audiences and prepare technical documents and make effective oral presentations.</span>
                            </li>
                            <li>
                                <b>PO11 : </b>
                                <span class="li-text">Demonstrate knowledge of engineering and management principles to develop innovative solutions and manage projects effectively, both as a member and a leader in a team.</span>
                            </li>
                            <li>
                                <b>PO12 : </b>
                                <span class="li-text">Recognize the need for and possess an ability to engage in life-long learning, leading to continuing professional development.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>