.container {
    width: 60%;
    margin: 0 auto auto auto;
    padding: 2em 1em;
}
.content {
    display: flex;
    text-align: justify;
}
.vm-wrap {
    background-color: white;
}
.vm-wrap h2 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
}

.vm-wrap p {
    font-size: 1.1em;
    line-height: 1.5em;
}
.vm-image {
    width: 25em;
    border-radius: 1em;
    object-fit: cover;
    margin-left: 3em;
}
.vm-wrap ul {
    margin-top: 1em;
}
.vm-wrap li {
    font-size: 1.1em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5em 0;
}
.vm-wrap .marker {
    content: "";
    width: 2em;
    height: 2em;
    background-size: 1.5em;
    background-image: url("../../../../assets/svg/lightbulb.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-right: 1em;
}
.li-text {
    width: calc(100% - 3em);
}
.vision,
.mission {
    display: flex;
}
.mission {
    flex-direction: row-reverse;
}
.mission .vm-image {
    margin-left: 0;
    margin-right: 2em;
}
.horiz-break {
    margin: 3em 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: gainsboro;
}
.vm-wrap ul b {
    width: 3.5em;
    margin-right: 0.5em;
}
@media only screen and (max-width: 1700px) {
    .container {
        width: 70%;
    }
}
@media only screen and (max-width: 1550px) {
    .container {
        width: 80%;
    }
}
@media only screen and (max-width: 1440px) {
    .container {
        width: 85%;
    }
}
@media only screen and (max-width: 1300px) {
    .container {
        width: 90%;
    }
}
@media only screen and (max-width: 1150px) {
    .container {
        width: 95%;
    }
    .vm-image {
        width: 20em;
    }
}
@media only screen and (max-width: 900px) {
    .vision,
    .mission {
        flex-direction: column;
    }
    .vm-image {
        width: 100%;
        height: 250px;
        margin-left: 0;
        margin-top: 2em;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 2em 0.5em;
    }
    .vm-image {
        height: auto;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .horiz-break {
        display: none;
    }
}
